* {
  margin: 0px;
}
.flex-container1 {
  height: 200px;
  width: 100%;
  background-color: coral;
  display: flex;
}
.Cider-Glow {
  margin-left: 100px;
  font-size: 70px;
  margin-top: 50px;
  font-family: fantasy;
}
.top-right {
  margin-left: 200px;
  margin-top: 90px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: fantasy;
}
.flex-container2 {
  background-color: beige;
  height: 1000px;
  display: flex;
}
.flex-container3 {
  display: block;
  font-family: fantasy;
  margin-left: 150px;
  margin-top: 100px;
}
.flex-container4 {
  margin-left: 100px;
  margin-top: 100px;
  margin-right: 150px;
  font-size: 24px;
}
.Started {
  margin-left: 150px;
  font-size: 50px;
  font-family: fantasy;
}
.Description {
  margin-top: 20px;
  font-family: fantasy;
  margin-bottom: 200px;
}
.container4 {
  height: 200px;
  width: 100%;
  background-color: coral;
}
.background3 {
  height: 700px;
  width: 100%;
  background-color: coral;
}
.Gallery {
  text-align: center;
  font-size: 60px;
  font-family: fantasy;
  padding-top: 50px;
}
.flex-container5 {
  display: flex;
  justify-content: space-evenly;
}
