* {
  margin: 0px;
}
.flex-container1 {
  height: 200px;
  width: 100%;
  background-color: coral;
  display: flex;
}
.Cider-Glow {
  margin-left: 150px;
  font-size: 70px;
  margin-top: 50px;
}
.top-right {
  margin-left: 200px;
  margin-top: 90px;
}
