* {
  margin: 0px;
}
.flex-container1 {
  height: 200px;
  width: 100%;
  background-color: coral;
  display: flex;
}
.Cider-Glow {
  margin-left: 150px;
  font-size: 70px;
  margin-top: 50px;
}
.top-right {
  margin-left: 200px;
  margin-top: 90px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}
.flex-container2 {
  background-color: beige;
  height: 1000px;
}
.image-header {
  padding-left: 100px;
  padding-right: 300px;
  padding-top: 50px;
  font-size: 25px;
  font-family: cursive;
}
.image-style {
  height: auto;
  width: 350px;
  padding-left: 100px;
}
